<div class="row">
  <%= link_to 'SyaberuBaを作成する！', new_discussion_path, class: 'btn btn-primary btn-lg offset-sm-1 col-sm-10 mt-2 rounded-pill' %>
  <%= render 'discussions/discussions', discussions: @discussions %>
</div>