<div class="row">
    <div class="offset-sm-1 col-sm-10 mt-4">
      <%= render 'discussions/discussions', discussions: @discussion %>
    </div>
    <% if @discussion.first.assent == nil %>
        <%= link_to 'SyaberuBaに発言する！', comment_discussion_path(@discussion.first), class: 'btn btn-primary btn-lg offset-sm-1 col-sm-10 mt-2' %>
    <% end %>
</div>